.header {
  /* position: sticky;
  top: 0;
  z-index: 1000; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.33%;
  padding-right: 8.33%;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--badges);
  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);
}
