.heroWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
  overflow: hidden;
  padding-bottom: 60px;
  flex: 1;
}

.heroImage {
  object-fit: cover;
  z-index: -1;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.title {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  padding-bottom: 16px;
}

.subtitle {
  font-size: 20px;
  padding-bottom: 40px;
}

.globalLoader {
  margin: auto;
}
