.img {
  border-radius: 19px;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  padding: 84px 0px;
  @media (max-width: 768px) {
    padding: 0px 40px;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.infoTitleWrapper {
  display: flex;
  gap: 16px;
  align-items: end;
  margin-bottom: 8px;
}

.infoTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--main);
  display: block;
}

.infoId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 4px;
}

.locationWrapper {
  display: flex;
  margin-bottom: 16px;
}

.locationIcon {
  margin-right: 4px;
}

.location {
  margin-right: 16px;
}

.rentalPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin-bottom: 32px;
}

.description {
  max-width: 488px;
  margin-bottom: 68px;
}

.conditionsTitle {
  margin-bottom: 20px;
}

.allCarInfo {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.specsItem {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
